<%- include('partials/header') %>

<%- include('partials/navbar') %>


<div class="container" style="background-color: lightcyan;">

    <h1>Produty</h1>


    <% for( p of products){ %>
            <div class="card" style="margin-top: 20px; background-color: #b5ffc5;">

                <h2><%= p.name %></h2>
                <p >Cenna: <%= p.price %> zł <% if( p.qty > 0) {%> dostępny <% }else{ %> <span style="color: red;"> niedostępny </span>  <% } %></p>
                
                <form action="/product/<%= p._id %>/buy?_method=PATCH" method="POST">
                    <button class="btn btn-secondary " <%= p.qty > 0 ? '' : 'disabled' %>> Kup</button>
                </form>

            </div>


    <% } %> 
</div>
</body>
</html>